---
import Setion from "./Setion.astro"
---

<Setion>
<footer>
    <p>Creado por José Javier García 🚀</p>
</footer>
</Setion>

<style>
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    p{
        font-size: 1.2rem;
        font-weight: bold;
    }
</style>