---
import Setion from "./Setion.astro";
---

<Setion>
  <div>
    <header>
      <h1>Space<span>X</span></h1>
      <p>
        SpaceX es una empresa privada de exploración espacial fundada por Elon
        Musk. Esta página web está dedicada a mostrar los lanzamientos más
        importantes y toda la información clave sobre las misiones espaciales.
      </p>
    </header>
    <aside>
      <img
        src="https://th.bing.com/th/id/R.e4d5affa35712513a67cff03c52bb15a?rik=ro9SyH%2fAJyQOPg&riu=http%3a%2f%2fclipart-library.com%2fimages_k%2froyalty-free-transparent-images%2froyalty-free-transparent-images-25.png&ehk=UyXEoB1nsi8X9Lsl0lr11hd3VlDcctXVg9yh0xCTYOY%3d&risl=&pid=ImgRaw&r=0"
        alt="Astronautas"
      />
    </aside>
  </div>
</Setion>

<style>
  div {
    display: flex;
    flex-direction: row;
  }

  h1 {
    font-size: 4rem;
  }

  img {
    aspect-ratio: 1/1;
    width: 300px;
    height: auto;
  }

  p {
    color: #888;
  }

  h1 span {
    color: #3d64ff;
  }
</style>
