---
import Setion from "./Setion.astro";
import Cards from "./Cards.astro";
import { getLatestLaunches } from "../servicies/api";

const launches = await getLatestLaunches();
---

<Setion titulo="Lanzamientos">
  <div class="grid">
    {
      launches.map(({ id, links, success, flight_number, name }) => (
        <Cards
          id={id}
          img={links.patch.small || ""}
          lanzamiento={success}
          numero={`#${flight_number}`}
          nombre={name}
        />
      ))
    }
  </div>
</Setion>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
</style>
